.modal-wrapper {
    display: none;
    background: rgba(0, 0, 0, 0.66);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    &.active {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-justify-content: center;
    }
    .modal1 {
      width: 100%;
      max-width: 532px;
      margin: 16px;
      background: #fff;
      position: relative;
      border-radius: 4px;
      overflow: auto;
      max-height: 97%;
    }
    .carousel .carousel-status {
      top: 28px;
      right: 9px;
    }
    .product-description{
      padding: 10px;
    }
    .close {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 24px;
      line-height: 36px;
      border-radius: 0 4px 0 0;
      background: transparent;
      color: $gray-medium;
      &:hover {
        background: $gray-dark-bg;
      }
      z-index: 2;
    }
  }
  .quick-view-details {
    padding: 24px;
    background: $gray-medium-bg;
    border-radius: 0 0 4px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .product-price {
      font-size: 14px;
    }
    .product-price {
      color: $primary-green;
      font-weight: bold;
      font-size: 20px;
      float: right;
      &:before {
        content: "₹ ";
      }
      display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .shipping-charges{
      font-size: 10px;
    }
  }
  
  .quick-view-image {
    img {
      width: 100%;
      max-width: 500px;
      margin: 50px auto;
      display: block;
      border-radius: 4px 4px 0 0;
    }
  }

  .dot{
    background-color: black !important;
  }

  .carousel .control-dots {
    bottom: 51px !important;
  }